################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineOrderManagementSystem/CopilotIndices/0.2.1634.3922
/.vs/OnlineOrderManagementSystem
